@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    41/1, 2nd Main,<br />
    KEB Layout, BTM 1st Stage<br />
    Bangalore = 560029 <br/>
    <abbr title="Phone">P:</abbr>
    9000047013
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:avinashrcs@gmail.com">Support@example.com</a><br />    
</address>